
body{
    background-color:#b3b3b3;
}
.pageborder{
    background-color:#e6e6e6;
    border:1% solid #b3b3b3;
}
.bsd{
				color:#595959;
	text-decoration:underline;
	    text-shadow: 2px 2px #b3b3b3;
}
.homename{
		color:#595959;
	border:5px solid #595959;
text-shadow: 5px 5px #b3b3b3;
box-shadow:inset 0px 0px 40px #b3b3b3;
}
.bisiyata{
		color:#595959;
	text-decoration:underline;
	    text-shadow: 2px 2px #b3b3b3;
}
.answer{
		color:#595959;
	text-shadow: 0px 0px 100px white;
}
.picture{
		border:2px solid #595959;
	box-shadow:0px 0px 40px #595959;

}
.ois{
		color:#595959;
		border:5px solid #595959;
		text-shadow: 5px 5px #b3b3b3;
	box-shadow:inset 0px 0px 40px #b3b3b3;
}
.navigation a{
		color:#595959;
	border:3px solid #595959;
		text-shadow: 2px 2px #b3b3b3;
	box-shadow:inset 0px 0px 40px #b3b3b3;
}

.four{
color:#595959;
text-shadow: 5px 5px #b3b3b3;
}